colorzero==2.0
future==1.0.0
gpiozero==2.0.1
iso8601==2.1.0
lgpio==0.2.2.0
numpy==2.2.4
pigpio==1.78
pillow==11.1.0
pyserial==3.5
pyttsx3==2.98
PyYAML==6.0.2
RPi.GPIO==0.7.1
SpeechRecognition==3.14.2
spidev==3.6
stockfish==3.28.0
typing_extensions==4.13.1
word2number==1.1
